body {
  margin: 2%;
}

header {
  text-align: center;
}

h1 {
  font-weight: bold;
  font-size: 32px;
  margin-top: 30px;
  margin-bottom: 10px;
}

h2 {
  font-weight: bold;
  font-size: 22px;
}

h3 {
  margin-top: 0;
  margin-bottom: 30px;
  font-weight: normal;
  font-size: 24px;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav li {
  display: inline-block;
  margin: 5px 10px;
}


section {
  margin: 2% 10%;
}

p, div, h4 {
  margin-left: auto;
  margin-right: auto;
  font-size: 16;
  width: 90%;
}

p, h4 {
  text-align: justify;
}

footer {
  height: 100px;
}

@media screen and (max-width: 520px) {
  section {
    margin: 2%;
  }
}
